body{
    font-size: larger;
}
#text{
   position: absolute;
   top: 20%;
   text-align: center;
   color: white;
  background-size: cover;

}

 

.nav{
    display: flex;
}

#bed{
    display: flex;
    gap: 300px;
    margin-bottom: 50px;
}
.button{
   background-color: green;
   color: white;
   border-radius: 20px; 
}
#icons{
   display: flex; 
   background-color: lightblue;
   height: 150px;
   gap: 70px;
}
.paintings{
    display: flex;
    gap: 400px;
    
}
#ul{
    gap: 30px;
}
#cup{
    display: flex;
    gap: 50px;
}
#icn{
    color: white;
    background-color: white;
    height: 30px;
}

.textile{
    display: flex;
    gap: 300px;
    margin-bottom: 100px;
}
.machine{
    display:flex;
    gap: 300px;
    background-color: lightblue;
    height: 150px;
}
#img{
    display: flex;
    background-color: lightblue;
    height: 100px;
}
#coch{
    height: 400px;
}
#container{
    position: relative;
    margin-bottom: 50px;
}

.star{
    display:flex;
    gap: 300px;
}
#RR{
    background-color: black;
}
h3{
    text-align: center;
}
hr{
    border: solid;
    margin: 10px;
}
#flower{
    display: flex;
    gap: 350px;
}
#Screen{
    display: flex;
    gap: 200px;
}
#bedp{
    height: 300px;
    width: 300px;

}
#cap{
    text-align: center;
    margin-bottom: 100px;
}
#words{
    display: flex;
    background-color:black;
    color: white;
    
}
#color{
    width: 800px;
    height: 300px;
}


.contact{
    display: flex;
    gap: 20px;
}
#contain{
    position: relative;
}
#txt{
    position: absolute;
    top:10%
}

@media screen and (min-width:390px) and (max-width:575px){
     #container{
        flex-direction: column;
    }
    #text{
       flex-direction: column;
}
#bed{
     flex-direction: column;
    

}
.textile{
     flex-direction: column;
    
}
.machine{
    flex-wrap: wrap;
    
    
}


#icons{
    
    flex-wrap: wrap;
    
 }
 #img{
    flex-wrap: wrap;
    
}

 .paintings{
    flex-direction: column;
}
    
}
